<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome</title>
</head>
<body style="background-image: url(https://global.honda/brand/assets/wallpaper/img/img-products_wp15.jpg);background-size: cover;"
>
<div class="btn-group" role="group" aria-label="Basic mixed styles example">
    <button type="button" class="btn btn-danger" style=" border-radius: 15px;  background-color: yellow ;"><a href="/login" style="font-family: 'Franklin Gothic Medium';font-size: large;">Login</a></button>
    <button type="button" class="btn btn-warning" style="border-radius: 15px; background-color: rgb(208, 208, 233);"><a href="/register" style="font-family: 'Franklin Gothic Medium';font-size: large;">Register</a></button>
  </div>
   
    
</body>
</html>
