<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register Success</title>
</head>
<body>
    <h1 style="color: crimson; text-align: center;"> Congratulations on your successful account registration !!!!</h1>
    <button type="button" class="btn btn-primary btn-lg" style="margin-left: 700px;width: 100px;height: 50px;background-color: red;border-radius: 15px;"><a href="/login" style="display: inline;color: yellow; font-family: 'Franklin Gothic Medium';">Login</a></button> 
</body>
</html> 