<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Home</title>
  </head>
  <body>
   <button style="background-color: red;"> <a href="/">Logout</a></button>
    <div class="w3-container">
     <table class="w3-table-all">
      
      <tr>
        <td>STT</td>
        <td>Name</td>
        <td>Price</td>
        <td>Image</td> 
        <td>Description</td>
        <td>Category<td>
       
        
      </tr>
      <tbody>
        <a href="/create"><button>Add</button></a>
        <form action="/home" method="post">
          <input class="form-control me-2" type="search" placeholder="Search" name="search" id="search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
       
        {products}
       
      </tbody>
      </table>
        
      </body>
    </table>
